/*{
	margin:50px;
	padding:0;
	box-sizzing: border-box;
}*/

.container{
	display:flex;
	flex-direction: column;

	width:90%;
	max-width:450px;
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%, -50%);
	background:rgb(63, 244, 229);
	padding:50px 60px 70px;
	text-align:center;
	border-radius:20px;
}

.button{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:10px 65px;
}
















